
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #3b4252ff;
}

a {
    text-decoration: none;
}
.grey {
    color: grey;
}

.tab {
    color: black;
    font-family: 'Nunito';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 17px;
    background: transparent;
    border-radius: 5px;
    transition: 0.3s;
}

.tab:hover {
    color: #ffffff;
    background: #3b4252ff;
}

.right-tab {
    font-family: 'Nunito';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 20px;
    color: #ffffff;
    background: #3b4252ff;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgb(161, 161, 161);
}

.right-tab:hover {
    color: #ffffff;
    background: rgb(45, 50, 61);
    box-shadow: 3px 3px 3px rgb(161, 161, 161);
}

.spacer {
    width: 10px;
}

#panel {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 15px rgb(63, 63, 63);
}

#wave {
    position: absolute;
    height: 708px;
    top: -120px;
    width: 101%;
}

#checkmark-paper {
    background:white; border-radius: 100px;
    width: 200px;
    height: auto;
}

#titlearea-appointment-booked {
    position: relative; 
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 100%;
}

#titletitle-appointment-booked {
    font-family: "Nunito";
    color: white;
    margin-left: 20px;
    font-size: 80px;
    font-weight: bold;
}

#titletitle-small {
    position: absolute;
    margin-top: 150px;
    font-family: "Nunito";
    color: white;
    margin-left: -200px;
    font-size: 30px;
    font-weight: bold;
}

#ref-content-surround {
    width: 600px;
    height: fit-content;
    background: #576178;
    margin: auto;
    padding-left: 10px; padding-right: 10px; padding-bottom: 10px; padding-top: 10px;
    border-bottom: 20px solid white;
    border-radius: 20px;
}

#appointment-content {
    color: white;
    height: fit-content;
    border-radius: 20px;
    font-family: "Nunito";
    padding-left: 40px;
    margin-top: -20px;
    padding-top: 40px;
    line-height: 40px;
}

#references {
    font-size: 20px;
    color: whitesmoke; 
}
.link {
    font-size: 20px;
    color: rgb(165, 165, 245);
    text-decoration: underline;
}

.appointment-input {
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 90%;
    border-bottom: 1px solid white;
    font-size: 16px;
}

#appointment-icon {
    position: relative;
    margin-right: auto;
}

#question {
    position: absolute;
    margin-left: 15px;
    margin-top: 60px;
    font-size: 20px;
    font-family: "Nunito";
}

#question-mark {
    width: 40px;
    height: 40px;
    margin-top: 60px;
}

::placeholder {
    color: rgb(204, 204, 204);
}

#return-button {
    position: absolute;
	background: #00c559;
	font-family: "Nunito"; 
	font-size: 20px;
	padding-left: 30px; 
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	padding-right: 30px; 
	padding-top: 10px; 
	padding-bottom: 10px;
	margin-top: 350px;
    margin-left: -375px;
	border-radius: 10px;
	transition: 0.1s;
}
#return-button:hover {
    background: #3b9662;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
