@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: white;
}

a {
    text-decoration: none;
}
.grey {
    color: grey; /* xP */
}

#other {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

.tab {
    color: black;
    font-family: 'Nunito';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 17px;
    background: transparent;
    border-radius: 5px;
    transition: 0.3s;
}

.tab:hover {
    color: #ffffff;
    background: #3b4252ff;
}

.right-tab {
    font-family: 'Nunito';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 20px;
    color: #ffffff;
    background: #3b4252ff;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgb(161, 161, 161);
}

.right-tab:hover {
    color: #ffffff;
    background: rgb(45, 50, 61);
    box-shadow: 3px 3px 3px rgb(161, 161, 161);
}

.spacer {
    width: 10px;
}

#panel {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 8;
    box-shadow: 0px 0px 15px rgb(63, 63, 63);
}

.name {
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    font-family: "Nunito";
    margin-left: 10px;
}

#wave {
    position: absolute; 
    z-index: 0;
    height: 508px;
    width: 100%;
}

.article-main-image-m {
    display: none;
}

#titlearea {
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    display: flex; 
    margin-top: 50px;
    z-index: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto; margin-right: auto;
    
}

#titletitle {
    font-family: "Nunito";
    color: white;
    width: 500px;
    font-size: 80px;
    font-weight: bold;
    padding-left: 40px; padding-bottom: 40px; padding-right: 80px; padding-top: 40px;
}

#header-image {
    width: 300px;
    height: 300px;
    background-image: url('../images/grayhair.jpg');
    object-fit: cover;
    border-radius: 150px;
    margin-right: 20px;
}

#topimage {
    margin-top: 100px;
    width: 500px;
    height: 300px;
    margin-left: 50px;
}

#bottomimage {
    margin-top: 100px;
    width: 500px;
    height: 300px;
    margin-right: 50px;
}


.article-main {
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    font-family: "Nunito";
}
.article {
    width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
}

.article-main-bottom {
    width: 100%;
    display: flex;
    margin-right: 40px;
}
.article-main-title {
    border-bottom: 4px solid;
    border-image-source: linear-gradient(to left, #3b4252, #aabeec);
    border-image-slice: 60 30;
    font-size: 35px;
    padding-bottom: 15px;
}

.article-contents {
    width: 600px;
}

.article-contents {
    width: 500px;
}

.article-main-paragraph {
    flex: 1;
    font-size: 20px;
    line-height: 2;
}

.article-main-paragraph-2 {
    flex: 1;
    font-size: 20px;
    margin-top: 100px;
    line-height: 2;
}