@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
.grey {
    color: grey; /* xP */
}   

#other {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

.tab {
    color: black;
    font-family: 'Nunito';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 17px;
    background: transparent;
    border-radius: 5px;
    transition: 0.3s;
}

.tab:hover {
    color: #ffffff;
    background: #3b4252ff;
}

.right-tab {
    font-family: 'Nunito';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 20px;
    color: #ffffff;
    background: #3b4252ff;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgb(161, 161, 161);
}

.right-tab:hover {
    color: #ffffff;
    background: rgb(45, 50, 61);
    box-shadow: 3px 3px 3px rgb(161, 161, 161);
}

.spacer {
    width: 10px;
}

#panel {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 8;
    box-shadow: 0px 0px 15px rgb(63, 63, 63);
}

.name {
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    font-family: "Nunito";
    margin-left: 10px;
}

#wave {
    position: absolute; 
    z-index: 0;
    margin-top: -1px;
    height: 508px;
    width: 101%;
}

.article-main-image-m {
    display: none;
}

#titlearea-a {
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    display: flex; 
    margin-top: 120px;
    z-index: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto; margin-right: auto;
    
}

#titletitle-a {
    font-family: "Nunito";
    color: white;
    width: 700px;
    font-size: 50px;
    font-weight: bold;
    padding-left: 40px; padding-bottom: 40px; padding-right: 80px; padding-top: 40px;
}

#header-image {
    width: 300px;
    height: 300px;
    background-image: url('../images/grayhair.jpg');
    object-fit: cover;
    border-radius: 150px;
    margin-right: 20px;
}

#topimage {
    margin-top: 200px;
    width: 500px;
    height: 300px;
    margin-left: 50px;
    border-radius: 20px;
}

#bottomimage {
    margin-top: 100px;
    width: 500px;
    height: 300px;
    margin-right: 50px;
    border-radius: 20px;
}


.article-main {
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    font-family: "Nunito";
}
.article {
    width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto; 
}

.article-main-bottom {
    width: 100%;
    display: flex;
    margin-right: 40px;
}
.article-main-title {
    font-size: 35px;
}

#experts {
    display: block;
    margin-top: 20px;
    border-bottom: 4px solid #aabeec;
    padding-bottom: 20px;
}

#date {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

#experts-tag {
    margin-right: 5px;
    padding: 5px;
    font-size: 12px;
    background: #3b4252ff;;
    color: white;
    border-radius: 10px;
}

.medium {
    font-size: 20px;
    font-family: "Quicksand";
}

.article-contents {
    width: 500px;
}

#date {
    margin-left: auto;
    margin-right: auto;
}

.article-main-paragraph {
    flex: 1;
    font-size: 20px;
    line-height: 2;
}

.article-main-paragraph:nth-child(1) {
    margin-top: -40px;
}

#longparagraph {
    margin-top: 20px;
}

#bottomimage {
    margin-top: 0px;
}

#newsletter-a {
    margin-left: -200px;
    border-radius: 50px;
	background: #3b4252ff; 
	font-family: "Nunito";
	height: 900px;
	text-align: center; 
	padding-top: 50px;
}
#newsletter-header {
	color: white; 
	font-size: 40px; 
	font-weight: bold; 
	margin-top: 50px;
	border-bottom: 2px solid rgb(165, 186, 235);
	padding-bottom: 30px;
	width: 1000px; 
	margin-left: auto; 
	margin-right: auto;
}
#newsletter-articles {
	display: flex; 
	justify-content: center;
}
.newsletter-article {
	width: 350px; 
	background: white;
	padding-bottom: 20px;
	height: 500px; 
	margin-left: 10px;
	border-radius: 20px;
	margin-bottom: 200px;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.438);
	transition: transform 0.2s;
}

.newsletter-article:hover {
	z-index: 9999;
	transform: scale(1.1, 1.1);
}

.newsletter-article-image {
	width: 350px; 
	height: 200px; 
	object-fit: cover; 
	border-top-left-radius: 20px; 
	border-top-right-radius: 20px;
}
.newsletter-article-header {
	font-size: 20px;
	border-bottom: 4px solid #4C566A;
	width: 300px; 
	margin-left: auto; 
	margin-right: auto;
	padding-bottom: 20px;
}
.newsletter-article-preview {
	font-size: 18px; 
	margin-left: 50px;
	margin-right: 50px; 
	text-align: left;
}

.newsletter-article-button {
	font-family: "Nunito";
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1px;
	margin-left: 1px;
	font-size: 20px;
	color: #ffffff;
	background: #3b4252ff;
	border: none;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
	outline: none;
	box-shadow: 2px 2px 2px rgb(161, 161, 161);
}
.newsletter-article-button:hover {
	color: #ffffff;
	background: rgb(45, 50, 61);
	box-shadow: 3px 3px 3px rgb(161, 161, 161);
}