@keyframes colorchange {
    0% { background: rgb(87, 142, 204); }
    50% { background: #8fd6ff; }
    100% { background: rgb(87, 142, 204); }
}
@keyframes dot {
    0% { background: silver; }
    50% { background: rgb(87, 142, 204); margin-bottom: 5px; }
    100% { background: silver; margin-bottom: 0px;}
}

body {
    background-color: rgb(133, 180, 250);
}

#content {
    display: flex;
    margin-top: 100px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

#botimage {
    margin-top: 35px;
    margin-left: 35px
}

#botimage-surrounding {
    width: 350px;
    height: 350px;
    background: rgb(87, 142, 204);
    border-radius: 100%;
    margin-left: auto;
    margin-right: 70px;
    margin-top: auto;
    margin-bottom: auto;
}

#bot {
    position: relative;
    margin-top: 40px;
}

#chatarea {
    z-index: 1;
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    background-color: white;
    border-radius: 30px;
    border: 10px solid white;
}

#chatbox {
    scroll-behavior: smooth;
    height: 360px;
    width: 110%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#chatbox::-webkit-scrollbar {
    display: none;
}

.botmessage, .clientmessage {
    word-wrap: break-word;
    display: inline-block;
    font-family: "Nunito";
    width: fit-content;
    font-size: 15px;
    max-width: 71%;
    border-radius: 30px;
    background: rgb(224, 224, 224);
    padding: 20px;
}

.botmessage {
    background: rgb(144, 167, 221);
    color: whitesmoke;
    margin-right: 10px;
    border-bottom-right-radius: 7px;
}

.clientmessage {
    margin-left: 10px;
    border-bottom-left-radius: 7px;
}

.pfp {
    filter: brightness(95%);
    margin-bottom: -20px;
    display: inline-block;
    width: 10%;
    height: auto;
    border-radius: 50px;
}

.botmessage:hover, .clientmessage:hover {
    filter: brightness(110%);
}

#chatbar {
    font-family: "Nunito";
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 470px;
    height: 20px;
    padding-left: 20px;
    background-color: #e6efff;
}

.link {
    text-decoration: none !important;
    border-bottom: 1px solid transparent;
    color: rgb(0, 0, 255) !important;
}

.link:hover {
    color: rgb(0, 108, 196) !important;
    border-bottom: 1px solid rgb(0, 140, 255);
}

#typing {
    font-family: "Nunito";
    font-size: 14px;
    color: #3b4252ff;
    padding-bottom: 10px;
    padding-left: 5px;
    font-weight: bold;
}

#dot1, #dot2, #dot3 {
    background: silver;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    display: inline-block;
    margin-left: 5px;
    animation: dot;
    animation-iteration-count: infinite;
    animation-duration: 0.6s;
}

#dot1 {
    margin-left: 12px;
    animation-delay: 0.1s;
}

#dot2 {
    animation-delay: 0.2s;
}

#dot3 {
    animation-delay: 0.3s;
}