@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #3b4252ff;
}

a {
    text-decoration: none;
}
.grey {
    color: grey;
}

.tab {
    color: black;
    font-family: 'Nunito';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 17px;
    background: transparent;
    border-radius: 5px;
    transition: 0.3s;
}

.tab:hover {
    color: #ffffff;
    background: #3b4252ff;
}

.right-tab {
    font-family: 'Nunito';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 20px;
    color: #ffffff;
    background: #3b4252ff;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgb(161, 161, 161);
}

.right-tab:hover {
    color: #ffffff;
    background: rgb(45, 50, 61);
    box-shadow: 3px 3px 3px rgb(161, 161, 161);
}

.spacer {
    width: 10px;
}

#panel {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 8;
    box-shadow: 0px 0px 15px rgb(63, 63, 63);
}

.name {
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    font-family: "Nunito";
    margin-left: 10px;
}

#wave {
    position: absolute;
    z-index: 0;
    height: 508px;
    top: 80px;
    width: 100%;
}

#titlearea-doctors {
    position: relative; 
    display: flex; 
    z-index: 0;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 90%;
}

#titletitle-doctors {
    font-family: "Nunito";
    color: #3b4252ff;
    font-size: 100px;
    font-weight: bold;
    z-index: 2;
}

#doctorsections {
    font-family: "Nunito";

}

#first-doctorbox {
    margin-top: 170px;
}

.doctorbox {
    width: 820px;
    background: white;
    display: flex;
    border-radius: 40px;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin-left: auto; margin-right: auto;
    padding-left: 35px; padding-right: 40px;
}
.doctorimage {
    width: 250px; height: 250px;
    background-position: top;
    object-fit: cover;
    border-radius: 100%;
    z-index: ;
}
.doctortext {
    margin-left: 40px;
}
.doctorname {
    font-size: 45px;
    font-weight: bold;
    color: #3b4252ff;
}
.doctorfield {
    font-size: 25px; 
    position: relative;
    margin-top: -45px; 
}
.doctordescription {
    font-size: 20px; 
}
.doctorspacer {
    color: white;
    font-size: 1px;
}
