@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

html, body {
	margin: 0;
	padding: 0;
}
#panel {
	display: flex;
	background-color: #3d71ff;
	padding: 30px;
}

.logo-div {
	background:  rgb(0,0,0,0);
	width: 200px;
	border-radius: 500px;
}

.name {
	flex: 1;
	color: white;
	font-size: 50px;
	font-family: "Work Sans";
}