@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
	margin: 0;
	padding: 0;
	height: 1100px;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}
.grey {
	color: grey; /* xP */
}

.tab {
	color: black;
	font-family: 'Nunito';
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1px;
	margin-left: 1px;
	font-size: 20px;
	background: transparent;
	border-radius: 5px;
	transition: 0.5s;
}

.tab:hover {
	color: #ffffff;
	background: #3b4252ff;
}

.spacer {
	width: 10px;
}

#panel {
	display: flex;
	align-items: center;
	background: white;
	padding: 20px;
	height: 40px;
	width: 100%;
	position: fixed;
	border-bottom: 3px solid;
    border-image-source: linear-gradient(to top right, dodgerblue, mediumspringgreen);
	border-image-slice: 60 30;
	top: 0;
	z-index: 1;
	box-shadow: 0px 0px 15px rgb(39, 39, 39);
}

.name {
	text-transform: uppercase;
	color: black;
	font-size: 30px;
	font-family: "Nunito";
	margin-left: 10px;
}


.service-description {
	margin-left: 200px;
}

.header {
	font-size: 35px;
	font-family: 'Nunito';
	border-bottom: 4px solid #3b4252ff;
	width: 500px;
	padding-bottom: 10px;
	font-weight: bold;
}

.paragraph {
	margin-top: 15px;
	font-family: 'Nunito';
	font-size: 16px;
	width: 500px;
}

#wavy {
	position: fixed;
	z-index: -1;
	margin-top: 150px;
	height: 400px;
}

#titleimage {
	z-index: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 450px;
	filter: brightness(30%);
}

#titletext {
	position: absolute; 
	margin-left: auto; 
	margin-right: auto;
	top: 250px;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
#titletextleft {
	display: flex;
	align-items: center;
}

#titlelogoimage {
	background-attachment: fixed;
}

#titletextname {
	text-transform: uppercase;
	color: white;
	font-family: "Work Sans";
	font-size: 120px;
	font-weight: bold;
	margin-left: 20px;
}
#titletextslogan {
	color: white;
	font-family: "Work Sans";
	font-size: 40px;
}

#scrolldown {
	background: white;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 95%; 
	left: 50%;
	-ms-transform: translate(-95%, -50%);
	transform: translate(-95%, -50%);
	border-radius: 100%;
	outline: none; 
	border: none;
	box-shadow: 0px 0px 30px rgb(36, 36, 36);
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 4px solid white;
	font-family: "Orbitron";
	font-weight: bold;
	transition: border .5s;
}

#scrolldown:hover {
	border: 4px solid mediumspringgreen;
}


