html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.right-tab {
	font-family: 'Nunito';
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1px;
	margin-left: 1px;
	font-size: 20px;
	color: #ffffff;
	background: #3b4252ff;
	border-radius: 5px;
	transition: 0.3s;
	box-shadow: 2px 2px 2px rgb(161, 161, 161);
}

.right-tab:hover {
	color: #ffffff;
	background: rgb(45, 50, 61);
	box-shadow: 3px 3px 3px rgb(161, 161, 161);
}

.spacer {
	width: 10px;
}


#wavy {
	position: fixed;
	z-index: -1;
	margin-top: 50px;
	height: 500px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#titleimage {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 520px;
	filter: brightness(200%);
	object-fit: cover;
}

#titletext {
	position: absolute; 
	margin-left: auto; 
	margin-right: auto;
	top: 250px;
	left: 50%;
	-ms-transform: translate(-50%, -25%);
	transform: translate(-50%, -25%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#appointment-image-m, #bot-image-m, #diagnosis-image-m, #doctor-image-m {
	display: none;
}

#titletextleft {
	display: flex;
	align-items: center;
}

#titlelogoimage {
	background-attachment: fixed;
}

#titletextname {
	text-transform: uppercase;
	color: white;
	font-family: "Nunito";
	font-size: 120px;
	margin-left: 20px;
}
#titletextslogan {
	color: white;
	font-family: "Nunito";
	font-size: 40px;
}

.name {
	text-transform: uppercase;
	color: black;
	font-size: 30px;
	font-family: "Nunito";
	margin-left: 10px;
}


#appointment-description, #bot-description, #doctor-description, #diagnosis-description {
	display: flex; justify-content: center; align-items: center;
	height: 700px; background: whitesmoke;
}

#appointment-description {
	margin-top: 640px;
}

#bot-description {
	background: #849eca; top: 0;
}
#diagnosis-description {
	background: #6a91d3; top: 0;
}
#doctor-description {
	background: #576178ff;
}

#appointment-header, #bot-header, #doctor-header, #diagnosis-header {
	font-size: 35px;
	font-family: 'Nunito';
	border-bottom: 4px solid;
    border-image-source: linear-gradient(to right,#2E3440,#4C566A);
	border-image-slice: 60 30;
	width: 500px;
	padding-bottom: 10px;
	font-weight: bold;
}
#bot-header, #doctor-header, #diagnosis-header {
	color: white;
	border-bottom: 4px solid;
    border-image-source: linear-gradient(to right, rgb(165, 186, 235), #ffffff);
	border-image-slice: 60 30;
}

#appointment-paragraph, #bot-paragraph, #doctor-paragraph, #diagnosis-paragraph {
	margin-top: 15px;
	line-height: 1.7;
	font-family: 'Nunito';
	font-size: 20px;
	width: 500px;
}
#bot-paragraph, #doctor-paragraph, #diagnosis-paragraph {
	color: white
}

#appointment-image, #doctor-image {
	margin-left: 60px;
	transition: transform 0.5s;
}

#bot-image, #diagnosis-image {
	margin-right: 60px;
	transition: transform 0.5s;
}

#appointment-image:hover, #doctor-image:hover, #bot-image:hover, #diagnosis-image:hover {
	transform: scale(1.1, 1.1);
}

#appointment-button, #bot-button, #doctor-button, #diagnosis-button {
	background: white; 
	font-family: "Nunito"; 
	font-size: 20px;
	padding-left: 30px; 
	padding-right: 30px; 
	padding-top: 10px; 
	padding-bottom: 10px;
	margin-top: 20px; 
	position: absolute; 
	border-radius: 10px; 
	color: #2E3440;
	transition: 0.3s;
}
#appointment-button {
	background: #4C566A; 
	color: white;
}
#appointment-button:hover, #bot-button:hover, #doctor-button:hover, #diagnosis-button:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transform: scale(1.1, 1.1);
}


#newsletter {
	background: #3b4252ff; 
	font-family: "Nunito";
	height: 900px;
	text-align: center; 
	padding-top: 50px;
}
#newsletter-header {
	color: white; 
	font-size: 40px; 
	font-weight: bold; 
	margin-top: 50px;
	border-bottom: 4px solid;
    border-image-source: linear-gradient(to top right, rgb(165, 186, 235),#4C566A);
	border-image-slice: 60 30;
	padding-bottom: 30px;
	width: 1000px; 
	margin-left: auto; 
	margin-right: auto;
}
#newsletter-articles {
	display: flex; 
	justify-content: center;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.newsletter-article {
	width: 350px; 
	background: white;
	padding-bottom: 20px;
	height: 500px; 
	margin-left: 10px;
	border-radius: 20px; 
	margin-right: 10px; 
	margin-bottom: 200px;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.438);
	transition: transform 0.5s;
}

.newsletter-article:hover {
	transform: scale(1.1, 1.1);
}

.newsletter-article-image {
	width: 350px; 
	height: 200px; 
	object-fit: cover; 
	border-top-left-radius: 20px; 
	border-top-right-radius: 20px;
}
.newsletter-article-header {
	font-size: 20px;
	border-bottom: 4px solid;
	border-image-source: linear-gradient(to right,#2E3440,#4C566A);
	width: 300px; 
	margin-left: auto; 
	margin-right: auto;
	border-image-slice: 60 30; 
	padding-bottom: 20px;
}
.newsletter-article-preview {
	font-size: 18px; 
	margin-left: 50px;
	margin-right: 50px; 
	text-align: left;
}

.newsletter-article-button {
	font-family: "Nunito";
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1px;
	margin-left: 1px;
	font-size: 20px;
	color: #ffffff;
	background: #3b4252ff;
	border: none;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
	outline: none;
	box-shadow: 2px 2px 2px rgb(161, 161, 161);
}
.newsletter-article-button:hover {
	color: #ffffff;
	background: rgb(45, 50, 61);
	box-shadow: 3px 3px 3px rgb(161, 161, 161);
}

