@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

::-webkit-scrollbar {
	width: 10px;
	z-index: 1;
  }
  ::-webkit-scrollbar-thumb {
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	background: rgb(84, 92, 112);
	z-index: 1;
  }
  ::-webkit-scrollbar-track {
	background: white;
	border-radius: 0px;
	z-index: 1;
  }

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

#contact {
	background: whitesmoke; 
	font-family: "Nunito";
	height: fit-content;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 80px;
}

.m {
    display: none;
}

.tab {
	color: rgb(0, 64, 124);
	font-family: 'Nunito';
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1px;
	margin-left: 1px;
	font-size: 15px;
	background: transparent;
	border-radius: 5px;
	transition: 0.15s;
}

.grey {
	color: black;
}

a { text-decoration: none; display: inline-block; transition: 0.3s; }

.tab:hover {
	color: white;
	background: #3b4252ff;
	transform: scale(1.3, 1.3);
}

#tabs2 {
	color: rgb(0, 64, 124);
}

.name {
	text-transform: uppercase;
	color: black;
	font-size: 30px;
	font-family: "Nunito";
	margin-left: 10px;
}

#panel {
	z-index: 100000;
	display: flex;
	align-items: center;
	background: white;
	padding: 20px;
	height: 40px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	box-shadow: 0px 0px 15px rgb(63, 63, 63);
}

#logo {
	transition: transform 0.1s;
}

#logo:hover {
	transform: scale(1.1);
}

#contact-header {
	border-bottom: 3px solid silver;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	text-align: center;
	background: whitesmoke; 
	font-family: "Nunito";
	font-size: 40px;
	color: black;
	font-weight: bold;
}

.social-media-label {
	font-family: "Quicksand";
	font-weight: 500;
	text-align: center;
}

.social-media-image {
	width: 60px;
}

#contact-info {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 3;
	font-size: 15px;
	font-family: Nunito;
	width: 1000px;
	display: flex;
}

.social-media-section {
	flex: 1;
	transition: transform 0.2s;
}

.social-media-section:hover {
	transform: scale(1.4, 1.4);
}

#tabs {
	display: none;
	overflow: hidden;
}

#show-panel-button {
	display: none;
	position: fixed;
	right: 0;
	transition: opacity 0.5s;
}

#show-panel-button:hover {
	background: none;
	opacity: 0.3;
}

@media only screen and (max-width: 1025px) {
	#contact-header {
		border-bottom: 2px solid;
	}

	#question {
		font-size: 15px;
		width: 200px;
	}

	#question-mark {
		margin-bottom: 40px;
	}

	#appointment-content {
		padding-left: 5px;
	}

	body {
		position: relative;
		left: 0px;
	}

	#appointment-description {
        text-align: center;
		margin-top: 450px;
	}

	.article-main-title, .medium, .article-main-paragraph, #experts {
		margin-left: 15px;
	}

	.article {
		display: block;
	}

	#topimage {
		margin-top: 0;
		margin-left: 0;
	}

	#bottomimage {
		margin-top: 0;
	}

	.article-main-paragraph {
		width: 320px;
	}

	#experts {
		width: 300px;
		line-height: 2;
	}

	#titletextname {
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		border-bottom: 2px solid white;
		font-size: 70px;
		margin-bottom: 20px;
	}

	#br {
		display: none;
	}

	#titletextslogan {
		margin-top: 0;
		font-size: 20px;
		width: 100%;
		text-align: center;
	}

	#titletext {
		display: block;
		top: 200px;
	}

	#titleimage {
		height: 450px;
	}

	#line {
		display: none;
	}
	
	#wavy {
		height: 420px;
		top: -100px;
	}

	#tabs2 {
		display: none;
	}
	
	#appointment-paragraph, #bot-paragraph, #doctor-paragraph, #diagnosis-paragraph {
		font-size: 18px;
		margin-left: auto;
		margin-right: auto;
		width: 92%;
		text-align: center;
	}

    #appointment-image, #bot-image, #diagnosis-image, #doctor-image, #about-main-image {
        display: none;
    }

    #appointment-image-m, #bot-image-m, #diagnosis-image-m, #doctor-image-m {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

	.social-media-image {
		width: 40px;
		height: 40px;
	}

	#contact-info {
		display: block;
		width: auto;
	}

	.social-media-section {
		text-align: center;
		width: fit-content;
		margin-right: auto;
		margin-left: auto;
	}

	#tabs {
		opacity: 1;
		height: 0px;
		text-align: center;
		position: fixed;
		top: 60px;
		left: 0;
		display: none;
		background-color: white;
		width: 100%;
		line-height: 3.5;
		overflow-y: scroll;
	}

	#appointment-header, #doctor-header, #diagnosis-header, #bot-header, #newsletter-header, #contact-header {
		margin-top: 20px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 25px;
	}

	#newsletter-articles {
		display: block;
	}

	.newsletter-article {
		margin-left: auto;
		margin-right: auto;
		margin-top: -180px;
	}

	#header-image {
		height: 100px;
		width: 100px;
		margin-left: 20px;
	}

	#titletitle-a {
        font-size: 30px;
        margin-top: -50px;
		width: 320px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

	#titlearea-a {
		display: block;
		margin-top: 120px;
	}

	#newsletter {
		height: 1800px;
	}

	#newsletter-a {
		height: 1200px;
	}

	#first-article {
		margin-top: 20px;
	}

	#diagnosis-description {
		height: 750px;
	}

	#appointment-button, #bot-button, #doctor-button, #diagnosis-button {
		left: 0;
		right: 0;
		width: fit-content;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	#appointment-description, #bot-description, #doctor-description, #diagnosis-description, #newsletter, #contact {
		position: relative;
		margin-top: 500px;
	}

	#appointment-description {
		height: 950px;
	}

	#contact {
		background: whitesmoke; 
		font-family: "Nunito";
		height: fit-content;
		margin-top: 50px;
		padding-top: 50px;
		padding-bottom: 80px;
	}

	.tab { font-size: 14px; }

	.grey { display: none }

	#show-panel-button {
		margin-left: 10px;
		display: inline;
	}

    #titletitle {
        font-size: 50px;
        margin-top: 100px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    #about-main-image-m {
        width: 120%;
        left: 0;
		margin-top: -20px;
        height: auto;
        display: block;
    }

    #about-main-left {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    #about-main-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #about-main {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: -40px;
    }

    #about-main-paragraph {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

	#titleicon {
		height: 150px;
	}

	#titletitle-doctors {
		font-size: 30px;
	}

	.doctorbox {
		text-align: center;
		display: block;
		width: 76%;
		height: 360px;
	}

	#first-doctorbox {
		margin-top: 10px;
	}

	.doctorname {
		font-size: 23px;
		padding: none;
	}

	.doctordescription {
		font-size: 15px;
	}

	.doctorfield {
		position: relative;
		margin-top: -20px;
		font-size: 20px;
	}

	#titlearea-doctors {
		height: 440px;
	}

	#titlearea {
		height: 380px;
	}

	#titletitle-references {
		font-size: 50px;
		margin-top: 50px;
		text-align: center;
	}

	#ref-content-surround {
		width: 300px;
	}

	.doctorimage {
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		height: 100px;
		width: 100px;
	}

	.doctortext {
		margin-left: auto;
		margin-right: auto;
	}

	.newsletter-article-header {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
	
    #wave {
        top: 80px;
        height: 300px;
    }

	#content {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#botimage {
		height: 270px;
		margin-left: 25px;
		margin-top: 30px;
	}

	#botimage-surrounding {
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		height: 300px;
	}

	#bot {
		margin-top: 60px;
	}

	#chatarea, #chatbox {
		width: 500px;
	}

	#chatarea {
		height: 700px;
	}

	#chatbox {
		height: 590px;
	}

	#chatbox-right {
		margin-right: 40px;
	}

	#chatbar {
		font-size: 27px;
		width: 470px;
		height: 50px;
		border-radius: 50px;
	}

	.clientmessage, .botmessage {
		font-size: 13px;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.clientmessage, .botmessage {
		font-size: 25px;
	}

	.article-contents, .article {
		width: 1000px !important;
	}

	.article-main-paragraph {
		width: 700px;
	}

	#titletitle-a {
		font-size: 40px;
		width: 600px;
	}

	#topimage, #bottomimage {
		position: relative;
		margin-right: auto;
		margin-top: 20px;
		width: 800px !important;
		height: 480px;
	}
}

@media only screen and (max-width: 800px) {

	#content {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#botimage {
		height: 140px;
		margin-left: 25px;
		margin-top: 30px;
	}

	#botimage-surrounding {
		margin-left: auto;
		margin-right: auto;
		width: 180px;
		height: 180px;
	}

	#bot {
		margin-top: 60px;
	}

	#chatarea, #chatbox {
		width: 300px;
	}

	#chatbox {
		height: 200px;
	}

	#chatarea {
		height: 280px;
	}

	#chatbox-right {
		margin-right: 40px;
	}

	#chatbar {
		font-size: initial;
		width: 270px;
		height: 20px;
		border-radius: 40px;
	}
}

@media only screen and (max-width: 320px) { /* literally just for the galaxy fold */
    #bot-description, #doctor-description, #diagnosis-description {
        height: 850px;
    }

	#appointment-description {
		height: 1100px;
	}

	.article-contents {
		margin-top: 150px;
	}

	.article {
		width: 250px;
		margin-left: 0;
	}

	#topimage, #bottomimage {
		height: 250px !important;
		width: 417px !important;
	}

	#bottomimage {
		margin-bottom: -120px;
	}

	.article-main-paragraph {
		width: 250px;
	}

	.doctorbox {
		width: 70%;
		height: 430px;
	}

	#titletitle-doctors {
		font-size: 23px;
	}

    #wave {
        height: 350px;
    }

    .newsletter-article-image {
        width: 100%;
    }

    .newsletter-article-header {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .newsletter-article {
        width: calc(100% - 10px);
    }

	#chatarea, #chatbox {
		width: 250px;
	}

	#chatbar {
		width: 220px
	}

	#chatbox-right {
		margin-right: 40px;
	}

	#titletitle-a {
		display: block;
		margin-top: -50px;
		font-size: 30px;
		width: 200px;
	}

	#ref-content-surround {
		width: 250px;
	}

	#newsletter-a {
		height: 1200px;
	}
}

@media screen and (min-width: 900) {
	#tabs {
		display: none;
	}
}

@media screen and (max-height: 400px) {
	#tabs {
		line-height: 1.8;
	}
}
