body {
	background: rgb(250, 250, 250);
	padding-right: 10px;
}

#welcome {
    position: relative;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
    font-family: "Nunito";
    color: #3b4252ff;
}

.profile-header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: center;
    width: 790px;
    margin-top: 150px;
    font-size: 30px;
    font-family: "Nunito";
    text-align: center;
    border-radius: 50px;
    /*border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;*/
    background: rgb(157, 172, 204);
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 0.4);
    color: white;
}

#wave {
    position: absolute; 
    z-index: 0;
    height: 508px;
    margin-top: -1px;
    width: 101%;
}

#titlearea {
    position: relative; 
    display: flex; 
    margin-top: 40px;
    z-index: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto; margin-right: auto;
    
}

#titletitle {
    text-align: center;
    font-family: "Nunito";
    word-break: break-word;
    color: white;
    font-size: 70px;
    padding-left: 40px; padding-bottom: 40px; padding-right: 80px; padding-top: 90px;
}

.icon {
    margin-bottom: -7px;
    margin-right: 10px;
}

.icon1 {
    margin-right: 5px;
    filter: invert();
}

.profile-header .icon {
    margin-bottom: -20px;
}

a {
	text-decoration: none;
}

.spacer {
	width: 10px;
}

.info-container {
    border-radius: 50px;
    padding: 20px;
    background: whitesmoke
}

.dashboard-container {
    font-family: "Nunito";
    color: grey;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 0.2);
    border-radius: 50px;
    margin-top: 20px;
    /*border-top-left-radius: 0px;
    border-top-right-radius: 0px;*/
    background: rgb(255, 255, 255);
    width: 860px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.appointment {
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 260px;
    height: fit-content;
    padding-bottom: 30px;
    border-radius: 50px;
    color: #3b4252ff;
    font-family: "Nunito";
    text-align: center;
    font-size: 14px;
    background: whitesmoke;
    box-shadow: 7px 7px 7px 0px rgb(0, 0, 0, 0.1);
}

.appointment:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 12px 12px 8px 0px rgb(0, 0, 0, 0.2);
}

.cancel-appointment-button {
	font-family: "Nunito";
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1px;
	margin-left: 1px;
	font-size: 20px;
	color: #ffffff;
	background: #3b4252ff;
	border: none;
    margin-top: 20px;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

.cancel-appointment-button:hover {
	color: #ffffff;
	background: rgb(45, 50, 61);
	box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.3);
}

span { font-weight: bold; }

.appointment-date {
    word-wrap: break-word;
    font-size: 17px;
    color: whitesmoke;
    background: #3b4252ff;
    padding: 20px;
    margin-top: 0px;
    border-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#logout-button {
    position: fixed;
    display: block;
    top: 320px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 9999;
    width: 120px;
    height: 60px;
	background: #ff4930; 
	font-family: "Nunito"; 
	font-size: 13px;
    outline: none;
    border: none;
    color: white;
	padding: 10px;
	transition: 0.3s;
    border-radius: 90px;
}
#logout-button:hover {
    cursor: pointer;
    background: rgb(255, 114, 114);
    color: whitesmoke;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}