
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(59, 72, 82);
}

a {
    text-decoration: none;
}
.grey {
    color: grey;
}

::-webkit-scrollbar {
    width: 10px;
    z-index: 1;
}
::-webkit-scrollbar-thumb {
    background: rgb(84, 92, 112);
    z-index: 1;
}
::-webkit-scrollbar-track {
    background: white;
    border-radius: 0px;
    z-index: 1;
}

.tab {
    color: black;
    font-family: 'Nunito';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 17px;
    background: transparent;
    border-radius: 5px;
    transition: 0.3s;
}

.tab:hover {
    color: #ffffff;
    background: #3b4252ff;
}

.right-tab {
    font-family: 'Nunito';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    margin-left: 1px;
    font-size: 20px;
    color: #ffffff;
    background: #3b4252ff;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgb(161, 161, 161);
}

.right-tab:hover {
    color: #ffffff;
    background: rgb(45, 50, 61);
    box-shadow: 3px 3px 3px rgb(161, 161, 161);
}

.spacer {
    width: 10px;
}

#panel {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 15px rgb(63, 63, 63);
}

.name {
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    font-family: "Nunito";
    margin-left: 10px;
}

#wave {
    position: absolute;
    height: 708px;
    top: -120px;
    width: 101%;
    margin-left: -1px;
}

#titlearea {
    position: relative; 
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 100%;
}

#titletitle-references {
    font-family: "Nunito";
    color: #3b4252ff;
    font-size: 80px;
    font-weight: bold;
}

#ref-content-surround {
    opacity: 0;
    width: 600px;
    height: fit-content;
    background: #576178;
    margin: auto;
    padding-left: 10px; padding-right: 10px; padding-bottom: 10px; padding-top: 10px;
    border-bottom: 20px solid white;
    border-radius: 20px;
}

#ref-content {
    color: white;
    height: fit-content;
    border-radius: 20px;
    font-family: "Nunito";
    padding-left: 40px;
    margin-top: -20px;
    padding-top: 40px;
    line-height: 40px;
}

#references {
    font-size: 20px;
    color: whitesmoke; 
}
.link {
    font-size: 20px;
    color: rgb(165, 165, 245);
    text-decoration: underline;
}
