body {
	background: #7fb6ff;
	padding-right: 10px;
}

a {
	text-decoration: none;
}

.spacer {
	width: 10px;
}

#titleimage {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 770px;
	filter: saturate(150%) brightness(80%);
	object-fit: cover;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

#section-spacer {
    height: 770px;
}

#sign-in-header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Nunito";
    font-size: 40px;
    color: whitesmoke;
    padding-top: 50px;
}

#sign-in-surround {
    position: relative;
    text-align: center;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background: rgb(0, 0, 0, 0.4);
    border-radius: 50px;
    width: 700px;
    height: 450px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 275px;
    transition: 0.6s;
}

::placeholder, ::-moz-placeholder, ::-webkit-input-placeholder {
    color: rgb(231, 231, 231);
}

.sign-in-input {
    background: none;
    border: none;
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    font-family: "Nunito";
    margin-top: 20px;
    width: 250px;
    outline: none;
}

.sign-in-input:first-of-type {
    margin-top: 50px;
}

#sign-in-button {
    position: relative;
	background: rgb(0, 119, 255); 
	font-family: "Nunito"; 
	font-size: 20px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
	border-radius: 10px;
    margin-top: 40px;
    outline: none;
    border: none;
	transition: 0.1s;
}
#sign-in-button:hover {
    cursor: pointer;
    background: rgb(0, 81, 173);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#error {
    display: none;
    margin-top: 20px;
    margin-bottom: -20px;
    color: rgb(255, 87, 87);
    font-size: 16px;
    font-family: "Nunito";
}